@keyframes pulseSmall {
    0%, 100% {
      opacity: 1;
      scale: 1.15;
    }
  
    50% {
        opacity: .8;
        scale: 1.155;
    }
  }
.bg-pulse-small{
    animation: 5s infinite alternate pulseSmall
}

.hero-text{
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  line-height: 130%;
}

