@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Eiko";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/PPEiko-Medium.otf") format("opentype");
}

@font-face {
  font-family: "Eiko";
  font-style: normal;
  font-weight: 100;
  src: url("/fonts/PPEiko-Thin.otf") format("opentype");
}

@font-face {
  font-family: "Eiko";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/PPEiko-Heavy.otf") format("opentype");
}

@font-face {
  font-family: "Eiko";
  font-style: italic;
  font-weight: 300;
  src: url("/fonts/PPEiko-LightItalic.otf") format("opentype");
}

@font-face {
  font-family: "Eiko";
  font-style: italic;
  font-weight: 900;
  src: url("/fonts/PPEiko-BlackItalic.otf") format("opentype");
}

body{
  font-family: 'Eiko';
}

.target {
  font-kerning: none;
}

.nodrag{
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}



